*{
    font-family: 'Roboto', sans-serif;
    
}


.large-10.medium-10.small-12.columns>h1{
    width: 100%;
    text-align: center;
}

.fa-edit{
    /*color: green;*/
    color: #2a79ba !important;
}
.callout.success {
   /* background-color: #e1faea;
    color: #0a0a0a; */
    background-color: #2a79ba;
    color: white;
}
.callout h1 {
    font-size: 2rem;
}
.operateri {
    text-align: center;
    margin-right: 15px;
}
.grid-container {
    position: relative;
}

@media screen and (max-width: 400px){
    .izbornikStavke{
        display: block;
        width: 100%;
        text-align: center;
    }
}
body {
   /* background-color: #34495e;  */
}

.stripes-okvir {
    /* min-height: 950px; */
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}
.stripes {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}
.stripes span {
    position: absolute;
    /* width: 300px !important; */
    height: 200px;
}
.stripes span:first-of-type {
    width: calc(100% / 3);
    left: calc(calc(calc(100% / 3) / 2 ) * -1);
    background: #4a25ff;
}
.stripes span:nth-of-type(2) {
    width: calc(100% / 3);
    top: 270px;
    right: 0;
    background: #4553ff;
}
.stripes span:nth-of-type(3) {
    width: calc(100% / 4);
    right: auto;
    bottom: 0;
    background: #4f40ff;
}
.stripes span:nth-of-type(4) {
    width: calc(100% / 3);
    right: calc(calc(calc(100% / 3) / 2 ) * -1);
    bottom: 0;
    background: #25ddf5;
}

.menu li:hover {
    background: #d4d4d4;
}

.page-naslov {
    text-align: center;
    margin-bottom: 20px;
}

.page-naslov h4 {
    background-color: #e6e6e6;
    color: #1779ba;
}

.button.success {
    color: #ffffff;
    background-color: #2a79ba;
}

.button.success:hover, .button.success:focus {
    background-color: #b8e6e6;
    color: #0a0a0a;
}